<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="#" th:action="@{/adminPromoEdit/{id}(id=${promotion.id})}" th:object="${promotion}" method="post">
	<label for="name">Promotion Name: </label>
	<input type="text" th:field="*{name}" id="name" />
	<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>
	
	<label for="name">Promotion Type: </label>
	<select th:field="*{type}">
		<option value="A">Amount</option>
		<option value="P">Percent</option>
	</select>
	<span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span><br/>
	
	<label for="amount">Promotion Amount: </label>
	<input type="text" th:field="*{amount}" id="amount" />
	<span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span><br/>
	
	<label for="active">Active: </label>
	<select th:field="*{active}">
		<option value="Y">Yes</option>
		<option value="N">No</option>
	</select>
	<span th:if="${#fields.hasErrors('active')}" th:errors="*{active}"></span><br/>
	
	<input type="submit" value="Update Item">
</form>
</body>
</html>