<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add New Promotion</title>
</head>
<body>
<form name="p" th:object="${newPromotionItem}" th:action="@{/adminAddPromotion}" method="post">
Promotion Name: <input type="text" name="name" /><br/>
Promotion Type: <select name="type">
				<option value="A">Amount</option>
				<option value="P">Percent</option>
				</select><br/>
Promotion Amount: <input type="text" name="amount" /><br/>
Active: <select name="active">
		<option value="Y">Yes</option>
		<option value="N">No</option>
		</select><br/>
<input name="submit" type="submit" value="Submit" />
</form>
</body>
</html>