<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="style.css" th:href="@{/style.css}">
<meta charset="ISO-8859-1">
<title>Administrator Portal</title>
</head>
<body>

<header>Admin Options</header>

<div class="container">

<h2 th:text="|Welcome, ${user.getUserName()}!  |"></h2>
<a href="../inputDepartment">Add Department</a><br/>
<a href="../viewDepartmentItems">View Current Departments</a><br/>
<a href="../inputMenuItem">Add Menu Items</a><br/>
<a href="../viewMenuItems">List Current Menu Items</a><br/>
<a href="../viewOrders">View Current Orders</a><br/>
<a href="../adminAddPromotion">Add Promotion</a><br/>
<a href="../viewPromotions">View Promotions</a><br/>
<a href="/logout">Logout</a>
</div>
</body>
</html>