<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="style.css" th:href="@{/style.css}">
<meta charset="ISO-8859-1">
<title>Admin Menu View</title>
</head>
<body>
<div class="container">
<table>
	<tr th:each="currentItem: ${menuItems}">
		<td><p><strong>ID: </strong></p></td>
		<td th:text="${currentItem.getId()}" />
		<td><p><strong>Item Name: </strong></p></td>
		<td th:text="${currentItem.itemName}" />
		<td><p><strong>Item Price: $</strong></p></td>
		<td th:text="${currentItem.itemPrice}" />
		<td><p><strong>Item Path: </strong></p></td>
		<td th:text="${currentItem.itemPath}" />
		<td><p><strong>Item Description: </strong></p></td>
		<td th:text="${currentItem.itemDescription}" />
		<td><p><strong>Item Department: </strong></p></td>
 		<td th:text="${currentItem.getItemDepartment().getDepartmentName()}" />
		<td><a th:href="@{/adminEdit/{id}(id=${currentItem.id})}">Edit Item</a></td>
		<td><a th:href="@{/adminDelete/{id}(id=${currentItem.id})}">Delete Item</a></td>
	</tr>
</table>
<a href="../adminportal">Return to Menu</a>
</div>
</body>
</html>