<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register an account</title>
</head>
<body>
	<form name='q' th:object=${user} th:action="@{/createUser}" method="post">
	
		First Name: <input type="text" name="firstName" /><br/>
		Last Name: <input type="text" name="lastName" /><br/>
		Email: <input type="text" name="email" /><br/>
		Phone Number: <input type="text" name="phoneNumber" /><br/>
		User Name: <input type="text" name="userName" /><br/>
		Password: <input type="text" name="passWord" /><br/>
		<input type="submit" name="submit" value="Register!">
	
	</form>
</body>
</html>