<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<meta charset="ISO-8859-1">
<title>Insert New Department</title>
</head>
<body>

<header>Add Department</header>

<div class="container">
	<form name="p" th:object="${newDepartmentItem}" th:action="@{/inputDepartment}" method="post">
		Department Name: <input name="departmentName" size="20">
		<input name="submit" type="submit" value="Submit">
	</form>
	<a href="/adminportal">Admin Home</a><br />
	</div>
</body>
</html>