<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="style.css" th:href="@{/style.css}">
<meta charset="ISO-8859-1">
<title>Create Menu Item</title>
</head>
<body>

<header>Create Menu Item</header>

<div class="container">
<div class="container2">
	<form name='f' th:object="${newMenuItem}" th:action="@{/inputMenuItem}"
		method='POST'>

		Item Name:<input name="itemName" size="20"> <br /> 
		 Price:<input name="itemPrice" size="10"><br /> 
		 IMG Path:<input name="itemPath" size="20"><br /> 
		 Description:<input name="itemDescription" size="30"><br /> 
		 Department:
		 <select th:field="*{itemDepartment}">
		 	<option th:each="department: ${deptList}" 
		 	th:value="${department.getDepartmentId()}" 
		 	th:text="${department.getDepartmentName()}">
		 	</option>
		 </select>
		<input name="submit" type="submit" value="submit" />
	</form>
	</div>
	<a href="/adminportal">Admin Home</a><br />
	</div>
	
</body>
</html>