<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Profile</title>
</head>
<body>


	<div class="container">
	
<table>
<thead>
    <tr>
        <th>First Name: </th>
        <th>Latest Visit: </th>
        <th>Email: </th>
        <th>Phone: </th>
    </tr>
</thead>
<tr >
<td th:text="${user.getFirstName()}" />
<td th:text="${user.getVisitDate()}" />
<td th:text="${user.getEmail()}" />
<td th:text="${user.getPhoneNumber()}" />
</tr>
</table>
<a href="/customerportal">Customer Portal</a><br/>
<a href="/logout">Logout</a>
</div>
</body>
</html>