<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="style.css">
<meta charset="ISO-8859-1">
<title>View Cart</title>
</head>
<body>

<header>Customer Cart</header>
<div class="container">
		<table>
			<thead>
				<tr>
					<th>Item Name: </th>
					<th>Quantity: </th>
					<th>Requests: </th>
				</tr>
			</thead>
			<tr th:each="currentOrderItems : ${orderitems}">
				<td th:text="${currentOrderItems.getItemName()}" />
				<td th:text="${currentOrderItems.getQuantity()}" />
				<td th:text="${currentOrderItems.getRequest()}" />
				<td><a th:href="@{/updateOrderItem/{id}(id=${currentOrderItems.getId()})}">Update Order</a></td>
				<td><a th:href="@{/deleteOrderItem/{id}(id=${currentOrderItems.getId()})}">Remove from cart</a></td>
			</tr>
		</table>
		<div class="container3">
		<a href="/viewMenu">Add More Items to Cart</a><br />
		<a href="/customerportal">Return to portal</a> <br />
		<a href="../">Home</a><br />
		</div>
	</div>

</body>
</html>