<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="style.css" th:href="@{/style.css}">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body>
<div class="container">
	<form name='q' th:object=${newCartItem} th:action="@{/addItemToCart}" method="post">
		<input type="hidden" th:field="${orders.orderId}" name="orderId">
		<input type="hidden" th:field="${item.itemId}" name="itemId">
		Item Name:
		<p>
			<span th:text="${item.itemName}"></span>
		</p>
		<input type="hidden" th:value="${item.itemName}" name="productName" />
		Item Description:
		<p>
			<span th:text="${item.itemDescription}"></span>
		</p>
		Item Price:
		<p>
			<span th:text="${item.itemPrice}"></span>
		</p>
		Quantity: <input type=text name="quantity"> <input
			type="submit" name="submit" value="Submit">
	</form>
	<a href="/viewMenu">Return to menu home</a><br />
	<a href="/customerportal">Return to portal</a> <br />
</div>
</body>
</html>