<html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<meta charset="UTF-8">
<title>Menu Display</title>
</head>
<body>

<header>Menu</header>

<div class="container">
<table>
<thead>
    <tr>
        <th>ID:</th>
        <th>Department Name:</th>
    </tr>
</thead>
<tr th:each="currentDepartment : ${departments}" >
<td th:text="${currentDepartment.getDepartmentId()}" />
<td th:text="${currentDepartment.getDepartmentName()}" />
 <td><a th:href="@{/viewDept/{id}(id=${currentDepartment.getDepartmentId()})}">View</a></td>
</tr>
</table>
<a href="/customerportal">Return to portal</a> <br />
<a href="../">Home</a><br />
</div>


<!-- <form method="POST">
<p>Department to Display</p>

 
<select th:field="${departments}" id ="ddDepartments">
	<option value="0">Select Department</option>
	<option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.departmentName}"></option>
</select>
<a th:href="@{/view/{id}(id=${department.id})}">Select</a>
</form> -->
</body>
</html>