<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		
		<div class="container">
<table>
<thead>
    <tr>
        <th>Cart ID: </th>
        <th>Item ID: </th>
        <th>Item QTY: </th>
        <th>Guest ID: </th>
    </tr>
</thead>
<tr th:each="currentCart : ${Cart}" >
<td th:text="${currentCart.getCartId()}" />
<!--  <td th:text="${currentCart.getProductName()}" />  -->
<td th:text="${currentCart.getItemId()}" />
<td th:text="${currentCart.getProductQty()}" />
<td th:text="${currentCart.getCustId()}" />
</tr>
</table>
<a href="../">Home</a><br />
</div>
			
</body>
</html>