<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<meta charset="UTF-8">
<title>Department Menu</title>
</head>
<body>
		<div class="container">		
<table>
<thead>
    <tr>
        <th>ID: </th>
        <th>Item Name: </th>
        <th>Description: </th>
    </tr>
</thead>
<tr th:each="currentMenuItem : ${menuItems}" >
<td th:text="${currentMenuItem.getId()}" th:name="prodId "/>
<td th:text="${currentMenuItem.getItemName()}" th:name="productName" />
<td th:text="${currentMenuItem.getItemDescription()}" />
  <td><a th:href="@{/addOrderItem/{id}(id=${currentMenuItem.getId()})}">View Item</a></td>
</tr>
</table>
<a href="/viewMenu">Return to menu home</a><br />
<a href="/customerportal">Return to portal</a> <br />
<a href="../">Home</a><br />
</div>
			
</body>
</html>