<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Profile</title>
</head>
<body>
	
		  <div class="container">
<table>
<thead>
    <tr>
        <th>ID: </th>
        <th>First Name: </th>
        <th>Last Name: </th>
        <th>Latest Visit: </th>
        <th>Email: </th>
        <th>Phone: </th>
        <th>User Name: </th>
        <th>Password: </th>
        <th>Authorization: </th>
    </tr>
</thead>
<tr th:each="currentUser : ${user}" >
<td th:text="${currentUser.getUserId()}" />
<td th:text="${currentUser.getFirstName()}" />
<td th:text="${currentUser.getLastName()}" />
<td th:text="${currentUser.getVisitDate()}" />
<td th:text="${currentUser.getEmail()}" />
<td th:text="${currentUser.getPhoneNumber()}" />
<td th:text="${currentUser.getUserName()}" />
<td th:text="${currentUser.getUserAuth()}" />
</tr>
</table>

		<p>Welcome <span th:text=${user.getFirstName()}></span><br>
        <p>Your last visit was on: </p><span th:text=${user.getVisitDate()}></span><br>
        <p>Authorization: </p><span th:text=${user.getUserAuth()}></span><br>

<a href="/customerportal">Customer Portal</a><br/>
<a href="/adminportal">Admin Portal</a>
<a href="../">Home</a><br />
<a href="/logout">Logout</a><br/>
</div>
</body>
</html>