<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="style.css" th:href="@{/style.css}">
<meta charset="ISO-8859-1">
<title>View All Orders</title>
</head>
<body>
<div class="container">
<table>
<thead>
    <tr>
        <th>Order Id:</th>
        <th>Customer Id:</th>

    </tr>
</thead>
<tr th:each="currentOrder : ${orders}" >
<td th:text="${currentOrder.orderId}" />
 <td th:text="${currentOrder.customerId}" />

 
 <td><a
th:href="@{/viewOrderDetails/{id}(id=${currentOrder.orderId})}">View order</a></td>
</tr>
</table>
<a href="/adminportal">Return to portal</a> <br />
</div>



</body>
</html>