<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Department Menu</title>
</head>
<body>
		
		<div class="container">
<table>
<thead>
    <tr>
        <th>ID: </th>
        <th>Item Name: </th>
        <th>Description: </th>
    </tr>
</thead>
<tr th:each="currentMenuItem : ${menuItems}" >
<td th:text="${currentMenuItem.id}" />
<td th:text="${currentMenuItem.itemName}" />
<td th:text="${currentMenuItem.itemDescription}" />
  <td><a th:href="@{/view/{id}(id=${currentMenuItem.id})}">Add to cart</a></td>
</tr>
</table>
<a href="../">Home</a><br />
</div>
			
</body>
</html>